@charset "UTF-8";
.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  counter-reset: step;
  padding: 0;
  margin: auto; /* Use auto margin for centering */
  width: 60%;
  color: #f2f2f2;
  font-family: "Palanquin", sans-serif;
  list-style: none;
  text-transform: uppercase;
  height:6vh;
  background-color: white;
}


.progress__circle {
  width: 20px;
  height: 20px;
  border: 3px solid #817676;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
/* .progress__circle:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2em;
  color: #fff;
  margin-top: 0.3em;
}  */
 /* .progress__circle:after {
  counter-increment: step;
  content: "Step " counter(step);
  margin-top: 0.5em;
} */
.progress__bar {
  flex: 1;
  height: 5px;
  background: #8a8484;
}
.progress--done {
  background: #4573d6;
}
.progress--active {
  border: 2px solid #4573d6;
  color: #4573d6;
  background-color:#4573d6;
}