
.nav-underline .nav-link {
    text-decoration: none; 
    position: relative;
    color: #000;
  }

  .nav-underline .nav-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #808;
    color: #808 !important;
    bottom: 0;
    left: 0;
    opacity: 0.6 !important;
    transform-origin: bottom right;
    transition: transform 0.9s ease all !important;
  }
.pl:hover{
  background-color: #b671b5;
  color: #fff;
}
.vp:hover{
  background-color: #ffd24d;
  color: #fff;
}

.card-title img {
  transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}

.card-title img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add the box shadow on hover */
}


.scrollable-section {
  height: 500px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  display: none;
}